<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Adicionar Notiticia</h2>
    <br>
    <form action="/news/save" method="post">
        <label>Titulo</label>
        <input type="text" name="title" placeholder="titulo da noticia">
        <br>

        <label>Noticia</label>
        <textarea name="content"></textarea>
        <br>

        <input type="submit" value="Adicionar">
    </form>
</body>
</html>